

h1  Add Inventory
br
form(action="/employee", method="POST") 
    input(type="hidden" name="_method",value="PUT")
    p Item Name 
     br
     input(type="text",name="name")
     p Item Id
     input(type="text",name="id")
     p Quantity
     input(type="number",name="Quantity") 
     p Costprice
     input(type="number",name="cprice") 
     p SellingPrice
     input(type="number",name="sprice") 
     p Expiry Date
     input(type="date",name="date") 

    br
    p 
     input(type="submit")

    